.TodoItemPrompt {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 0.5fr 0.5fr;
  gap: 15px;
  padding: 15px !important;
}

.TodoItemPrompt-option {
  border-radius: 25px !important;
  text-align: center !important;
}

.TodoItemPrompt-option:nth-of-type(1) {
  grid-column: 1 / 2;
}

.TodoItemPrompt-option:nth-of-type(2) {
  grid-column: 2 / 3;
}

.done {
  background-color: #07dd19a9 !important;
}

.pending {
  background-color: crimson !important;
}

.doing {
  background-color: #ddc911d0 !important;
}

.delete {
  background-color: #000 !important;
  border-radius: 0 !important;
  color: aliceblue !important;
}

.edit {
  background-color: blueviolet !important;
}
