.TodoApp {
  display: flex;
  min-height: 100vh;
  height: 100%;
  background-color: blueviolet;
  justify-content: center;
  /* padding-top: 5%; */
}

/* @media only screen and (max-width: 900px) {
  .TodoApp {
    padding-top: 0;
  }
} */

.TodoListRoutes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.slide-left-enter {
  opacity: 0;
  transform: translateX(-150px);
}
.slide-right-enter {
  opacity: 0;
  transform: translateX(150px);
}

.slide-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-right-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.slide-left-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-right-exit {
  opacity: 1;
  transform: translateX(0);
}

.slide-left-exit-active {
  opacity: 0;
  transform: translateX(-150px);
  transition: opacity 300ms, transform 300ms;
}

.slide-right-exit-active {
  opacity: 0;
  transform: translateX(150px);
  transition: opacity 300ms, transform 300ms;
}
