.TodoItem {
  display: inline-block;
  width: 100%;
  padding: 20px 50px;
  margin: 20px 0;
  border-radius: 25px;
  height: min-content;
  background-color: #f0f8ff80;
  box-shadow: 5px 5px 10px #0000001a;
}

.TodoItem-title {
  color: #1d1c1c;
  font-size: 1.2rem;
}

.TodoItem-content {
  color: #2e2d2dd7;
  font-size: 0.9rem;
  word-break: break-all;
}

.TodoItem-content-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 -12px;
}

.TodoItem-content-extra-1,
.TodoItem-content-extra-1 svg {
  color: #2e2d2d67;
  font-size: 90%;
}

.TodoItem-content-extra-2 {
  color: rgba(255, 255, 255, 0.815);
  padding: 4px 8px;
  border-radius: 25px;
}

.done {
  background-color: #07dd19a9;
}

.pending {
  background-color: crimson;
}

.doing {
  background-color: #ddc911d0;
}
